<%= form_with(model: game) do |form| %>
  <% if game.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(game.errors.count, "error") %> prohibited this game from being saved:</h2>

      <ul>
        <% game.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <div class="input__container mb-4">
      <%= form.text_field :name, class: "input__content" %>
    </div>
  </div>

  <div>
    <%= form.label :summary, style: "display: block" %>
    <div class="input__container mb-4">
      <%= form.text_area :summary, class: "input__content" %>
    </div>
  </div>

  <div>
    <%= form.label :release_date, style: "display: block" %>
    <div class="input__container mb-4">
      <%= form.date_field :release_date, class: "input__content" %>
    </div>
  </div>

  <div>
    <%= form.label :rating, style: "display: block" %>
    <div class="input__container mb-4">
      <%= form.text_field :rating, class: "input__content" %>
    </div>
  </div>

  <div class="select">
    <%= form.label :category, class:"content-xs overline"%>
    <%= form.select :category, Game.categories.keys, { prompt: true }, { class: "select__input" } %>
    <%=errors_for(game, :category) %>
  </div>

  <div class="select">
    <%= form.label :parent_id, class:"content-xs overline"%>
    <%= form.collection_select :parent_id, Game.main_game, :id, :name, { include_blank: "Please select" }, { class: "select__input" } %>
    <%=errors_for(game, :parent_id) %>
  </div>

  <div style="margin-bottom:16px">
    <%= form.label :cover, style: "display: block" %>
    <% if game.cover.attached? %>
    <div>
      <%= image_tag game.cover, alt:"game cover", style: "width:80px" %>
    </div>
    <% end %>
    <%= form.file_field :cover %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
