<p style="color: green"><%= notice %></p>

<h1>Games</h1>
<%= link_to "New game", new_game_path %>
<div id="games">
  <% @games.each do |game| %>
    <%= render game %>
    <p>
      <strong>Summary:</strong>
      <%= truncate(game.summary, length: 100) %>
    </p>
    <p>
      <%= link_to "Show this game", game %>
    </p>
  <% end %>
</div>


