<div id="<%= dom_id company %>">

  <% if company.cover.attached? %>
    <div>
      <%= image_tag company.cover, alt:"company cover", style: "width:80px" %>
    </div>
  <% end %>

  <p>
    <strong>Name:</strong>
    <%= company.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= company.description %>
  </p>

  <p>
    <strong>Start date:</strong>
    <%= company.start_date %>
  </p>

  <p>
    <strong>Country:</strong>
    <%= company.country %>
  </p>

  <p>
    <strong>Games count:</strong>
    <%= company.games_count %>
  </p>

</div>
