<p style="color: green"><%= notice %></p>

<%= render @company %>

<div>
  
  <p>
    <strong>Games:</strong>
    <%@company.games.each do |game| %>
      <%= link_to game.name, game %>
    <%end%>
  </p>
  <%= link_to "Edit this company", edit_company_path(@company) %> |
  <%= link_to "Back to companies", companies_path %>

  <%= button_to "Destroy this company", @company, method: :delete %>
</div>
