<!DOCTYPE html>
<html>
  <head>
    <title>ProjectCriticsrc</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header>
      <div class="container">
        <div class="header navbar shadow--gray">
          <%=link_to image_tag("logo.png"), games_path%>
        </div>
      </div>
    </header>
    <section class="section">
      <div class="container">
        <%= yield %>
      </div>
    </section>
    <footer class="footer">
      <div class="footer__content">
        <h4>© 2023 - Codeable Critics</h4> 
        <h4>Build with ♥ by</h4>
        <p>♤Marlon Salazar</p>
      </div>
    </footer>
  </body>
</html>
